@import "tailwindcss";

/* Remove default browser spacing */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;}

/* iOS-style font */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', sans-serif;
}

/* Hide scrollbar (mobile look) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}